/*Áp dụng cho toàn trang*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(90deg, pink, red);
}

.container{
    position: relative;
    width: 850px;
    height: 550px;
    background: white;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px #00000033;
    overflow: hidden;
}

.container h1{
    font-size: 36px;
    margin: -10px 0;
}

.container p{
    font-size: 14.5px;
    margin: 15px 0;
}

form{
    width: 100%;
}

